# .env
CLICKHOUSE_HOST=xxxxx.ap-southeast-1.aws.clickhouse.cloud
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=password_rahasia_anda
SUPABASE_DB_URL =https://your-supabase-project.supabase.co
